.registration {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 1rem;

  &__head {
    width: 100%;
    background: rgba(139, 255, 85, 0.55);
    text-align: center;
  }
  &__form {
    margin: auto;
    margin-top: 2rem;
  }

  &__submit {
    margin: 2rem 0;
    background: #029664;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    color: white;
    cursor: pointer;
    height: 45px;
    width: 150px;
    font-size: 1.2rem;

    &:hover {
      background: #057751;
    }
  }

  &--basic-form {
    height: calc(100vh - 11rem);
  }
}

.form-sub-title {
  text-align: center;
  margin: 1.5rem auto;
  padding: 0rem 1rem;
  max-width: 60rem;
}

.input {
  &__container {
    margin: auto;
    width: 100%;
    max-width: 60rem;
    padding: 0 1rem;

    & label {
      display: block;
      width: 100%;
      margin: 0.5rem 0;
    }

    & input {
      padding: 1rem;
      width: 100%;
      border: 1px solid #cccccc;
      border-radius: 0.5rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      outline: none;
      transition: all 0.2s;

      &:focus {
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
      }
    }
  }

  &__error {
    font-size: 0.9rem;
    color: red;
    font-weight: 500;

    &-container {
      display: block;
      margin-top: 0.3rem;
      height: 1rem;
    }
  }
}

input[type="file"]::file-selector-button {
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  background: #029664;
  transition: 1s;
}

select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 24.5px) calc(1.3rem + 3px),
    calc(100% - 20px) calc(1.3rem + 3px), calc(100% - 2.5rem) 0.5em;
  background-size: 5px 5px, 5px 5px, 0px 2.2rem;
  background-repeat: no-repeat;
}

select:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) 1.4rem, calc(100% - 24.5px) 1.4rem,
    calc(100% - 2.5rem) 0.5em;
  background-size: 5px 5px, 5px 5px, 0px 2.2rem;
  background-repeat: no-repeat;
  // border-color: green;
  outline: 0;
}

select:disabled{
  cursor: not-allowed;
}

.select-container {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 100%;
  height: 3rem;
}

.select-box {
  border: none;
  appearance: none;
  outline: none;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #cccccc;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;

  &:focus {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }

  &:focus + .select-arrow {
    transform: rotate(0deg);
    transition: all 0.2s;
  }
}

.custom-select {
  min-width: 350px;
  width: 100%;
}

select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 0.9rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  color: #000;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.select-arrow {
  position: absolute;
  top: 0.6rem;
  right: 0.75rem;
  transform: rotate(180deg);
  transition: all 0.2s;
}

.table-form {
  & input {
    text-align: center;
    margin: 0.2rem;
    font-size: 1.2rem;
  }

  & td {
    padding-right: 0.2rem;
  }

  & th {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.table-row .row-head {
  max-width: 20rem;
  text-align: left;
  white-space: pre-wrap;
}

.checkbox-table {
  border-collapse: collapse;
}

.checkbox-table td:not(:last-child),
.checkbox-table th:not(:last-child) {
  border-right: 1px solid rgb(209, 193, 193);
}

.table-row {
  border-top: 1px solid rgb(209, 193, 193);
}

.checkbox-table .table-row td {
  width: 3rem;
}

.row-head-large {
  width: 50rem;
  text-align: -internal-start;
}

.row-head-xlarge {
  width: 50rem;
  text-align: start;
}

.row-head--bold {
  font-weight: 700 !important;
}

.ml-med {
  margin-left: 7rem !important;
}

.ml-0 {
  margin: 0;
}

.table-form td {
  height: 3rem;
}

.column-head {
  height: 3rem;
  width: 4rem;
}

.column-head-small {
  width: 6rem;
}

.column-head-xsmall {
  width: 13rem;
}

.column-head-medium {
  width: 9rem;
}

.font-size-med {
  font-size: 0.9rem !important;
}

.checkbox-width-small {
  width: 6rem !important;
  display: inline-block !important;
}

input:disabled {
  cursor: not-allowed;
}
